@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* color: white; */
}
:root {
  --background-black: transparent;
  --bg-primary: #df3311;
  --bg-primary-hover: #D45757;
  --bg-primary-disabled: #FFAEAE;
  --bg-primary-text: white;
  /* background-color:; */
  
}
a{
  all: unset;
  cursor: pointer;
}
::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}
.app-wrapper {
  /* position: absolute; */
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  inset: 0;
  top: 0;
  overflow: scroll;
  background-color: rgba(17, 24, 39, 0.6);
}
.app-wrapper-over {
  background-image: url("./assets/party.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  position: relative;
}
